<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8" />
    <title>TODO 상세보기</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.1/font/bootstrap-icons.css" />
</head>
<body>
    <div class="container">
        <h1>TODO 상세보기</h1>
            <div class="card">
                <div class="card-body" id="todo-detail">
                    <h3 id="todo-title"></h3>
                    <p id="todo-description"></p>
                </div>
            </div>
        <a href="/todos" class="btn btn-primary mt-3">목록으로</a>
    </div>

    <script>
        const pathArray = window.location.pathname.split('/');
        const todoId = pathArray[pathArray.length - 2];

        fetch(`http://127.0.0.1:8000/todo/${todoId}/`)
            .then(response => response.json())
            .then(data => {
                document.getElementById('todo-title').textContent = data.title;
                document.getElementById('todo-description').textContent = data.description;
            })
            .catch(error => console.error('Error:', error));
    </script>
</body>
</html>

